{% extends 'base.html' %} 

{% block real_content %}
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--6dp" id="secondary-background">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="create-berita-card mdl-card mdl-shadow--16dp mdl-cell--middle" id="main-card">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Membuat Polling</h2>
                </div>
                <div class="mdl-card__supporting-text" id="main-form">
                    <!-- Form starts here, Im not going to add form until TK5 -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text">
                        <label class="mdl-textfield__label">Deskripsi</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text">
                        <label class="mdl-textfield__label">Waktu Mulai</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text">
                        <label class="mdl-textfield__label">Waktu Selesai</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text">
                        <label class="mdl-textfield__label">Pertanyaan Seputar Polling</label>
                    </div>
                    <!-- Form ends here -->
                </div>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="add-pertanyaan">
                    Tambah Pertanyaan
                </a>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Submit
                    </a>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %} 

{% block styles %}
<style>
    .create-berita-card>.mdl-card__title {
        color: #fff;
        height: 150px;
        background: url("{{ url_for('static', filename = 'images/pjk9gxle.jpg')}} ") center / cover;
    }

    .create-berita-card.mdl-card {
        width: 512px;
    }

    #secondary-background {
        background-color: #bbdefb;
        height: 300vh;
    }

    #secondary-top {
        background-color: #bbdefb;
    }

    #main-card {
        top: 10vh;
    }
</style>
{% endblock %} 

{% block real_scripts %}
<script>
    $("#add-pertanyaan").click(function () {
        $("#main-form").append("<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width'><input class='mdl-textfield__input' type='text'><label class='mdl-textfield__label'>Pertanyaan Seputar Polling</label></div>");
        // Tolong add biar secondary-background berubah making panjang.
    });
</script>
{% endblock %}