{% extends "base.html" %}

{% block real_content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--5-col">
  	<h3 style="margin-left: 270px">Articles List</h3></div>
  
  <div class="mdl-cell mdl-cell--8-col" style="margin-left: 270px">
  	<ul class="demo-list-three mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?auto=compress&cs=tinysrgb&h=350' width="35" height="35">
      <span style="margin-left: 5px"><a>Iran Ikuti Rusia Blokir Telegram</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px">
      	Bulan lalu, Rusia memblokir Telegram lantaran tidak manut pada aturan pemerintah.
       	<p><a>Software</a> - Selina Maurizka</p>
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?auto=compress&cs=tinysrgb&h=350' width="35" height="35">
      <span style="margin-left: 5px"><a>Makalah Terakhir "Multiverse" Stephen Hawking Terbit</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px">
        Tulisan ilmiah Stephen Hawking sebelum berpulang akhirnya diterbitkan.
        <p><a>Sains</a> - Selina Maurizka</p>
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?auto=compress&cs=tinysrgb&h=350' width="35" height="35">
      <span style="margin-left: 5px"><a>Asyiknya Bersepeda Saat Hujan Salju di Belgia!</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px">
        Bagi sebagian orang, bersepeda saat turun hujan membawa sensasi tersendiri.
        <p><a>Travel</a> - Selina Maurizka</p>
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?auto=compress&cs=tinysrgb&h=350' width="35" height="35">
      <span style="margin-left: 5px"><a>Kondisi Pintu Tol Cibubur Saat Berlaku Ganjil Genap Pagi Ini</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px" style="margin-bottom: 5px">
        Antrean di gerbang tol masih panjang saat ganjil genap tol diterapkan pada pukul 06.00 WIB.
        <p><a>Ekonomi</a> - Selina Maurizka</p>
      </span>
    </span>
  </li>
</ul>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet"></div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>
</div>
{% endblock %}
