{% extends "base.html" %}

{% block real_content %}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
  	<h3 style="margin-left: 50px">Profile</h3></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
<div class="mdl-grid">
	<div class="mdl-card__title">
    
  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	<img class="img-circle" src='https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?auto=compress&cs=tinysrgb&h=350' width="250" height="250" style="margin-left: 63px">
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card__supporting-text" style="margin-right: 300px">
      <h6>Nama 			: Selina Maurizka</h6>
      <h6>Role			: Mahasiswa </h6>
      <h6>NPM				: 1606874564 </h6>
      <h6>Tempat Lahir	: Jakarta </h6>
      <h6>Tanggal Lahir	: 14 September 1998 </h6>
      <h6>Nomor HP 		: 08121892123</h6>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	<button class="mdl-button mdl-js-button mdl-button--raised" style="margin-left: 100px">Edit Profile</button>
  	<button class="mdl-button mdl-js-button mdl-button--primary"><u>My Articles</u></button>
  </div>
</div>

<div class="mdl-grid">   		
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet"></div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>
</div>
{% endblock %}