{% extends 'base.html' %} 
{% load static %}
{% block real_content %}
<!-- CONTEK INI UNTUK POLLING BERITA JUGA -->
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--6dp" id="secondary-background">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="create-berita-card mdl-card mdl-shadow--16dp mdl-cell--middle" id="main-card">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Polling</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <!-- Form starts here, Im not going to add form until TK5 -->
                    <form id="main-form" action="{% url 'basdatApp:polling_create_func' %}" method="POST">
                        {% csrf_token %}
                        <div id="field-form">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input class="mdl-textfield__input" type="text" id="deskripsi" name="deskripsi">
                                <label class="mdl-textfield__label">Deskripsi</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input name="waktuMulai" id="waktuMulai" class="mdl-textfield__input" type="date">
                                <label class="mdl-textfield__label">Waktu Mulai</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input name="waktuSelesai" id="waktuSelesai" class="mdl-textfield__input" type="date">
                                <label class="mdl-textfield__label">Waktu Selesai</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input class="mdl-textfield__input" type="text" id="pertanyaan0" name="pertanyaan0">
                                <label class="mdl-textfield__label">Pertanyaan Seputar Polling</label>
                            </div>
                        </div>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="add-pertanyaan">
                            Tambah Pertanyaan
                        </a>
                        <div class="mdl-card__actions mdl-card--border">
                            <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="submit" value="Submit">
                        </div>
                    </form>
                    <!-- Form ends here -->
                </div>
                {% if warning %}
                <div class="mdl-card__menu">
                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ warning_message }}</span>
                    </span>
                </div>
                {% endif %}
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %} 

{% block styles %}
<style>
    .create-berita-card>.mdl-card__title {
        color: #fff;
        height: 150px;
        background: url("{% static 'images/pjk9gxle.jpg' %}") center / cover;
    }

    .create-berita-card.mdl-card {
        width: 512px;
    }

    #secondary-background {
        background-color: #bbdefb;
        height: 100vh;
    }

    #main-card {
        top: 10vh;
    }

    .mdl-chip {
        background-color: #E30425;
        color: white;
    }
</style>
{% endblock %} 

{% block real_scripts %}
<script>
    (function () {
            'use strict';
            window['counter'] = 0;
            var addPertanyaan = document.querySelector('#add-pertanyaan');
            addPertanyaan.addEventListener('click', function () {
                var namaField = "pertanyaan" + (++counter);
                $("#field-form").append('<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width"><input class="mdl-textfield__input" type="text" id="' + namaField + '" name="' + namaField + '"></input><label class="mdl-textfield__label">Pertanyaan Seputar Polling</label></div>');
                $('#secondary-background').height(function (index, height) {
                    return (height + 42.88 + "px");
                });
                componentHandler.upgradeDom();
            });
        }());
</script>
{% endblock %}