{% extends "base.html" %}

{% block real_content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--5-col">
  	<h3 style="margin-left: 270px">Articles List</h3></div>
  
  <div class="mdl-cell mdl-cell--8-col" style="margin-left: 270px">
  	<ul class="demo-list-three mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://www.bestpersonnel.ie/wp-content/uploads/2017/11/Liliana-Costa.png' width="35" height="35">
      <span style="margin-left: 5px"><a>The Myth of Conservative Feminism</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px">
      	The movement isn't about blind support for women in power.
       	<p><a>Women and Girls</a> - Rismanti Amalia</p>
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://www.bestpersonnel.ie/wp-content/uploads/2017/11/Liliana-Costa.png' width="35" height="35">
      <span style="margin-left: 5px"><a>These 7 Women Could Help Democrats Win Congress</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px">
        Pennsylvania has had an all-male congressional delegation since 2015. After victories by several women this week.
        <p><a>Politic</a> - Rismanti Amalia</p>
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://www.bestpersonnel.ie/wp-content/uploads/2017/11/Liliana-Costa.png' width="35" height="35">
      <span style="margin-left: 5px"><a>How New Abortion Restrictions Would Affect Women’s Health Care</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px">
        The Trump administration’s proposal to bar certain federal funds from abortion.
        <p><a>Health</a> - Rismanti Amalia</p>
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <img class="img-circle" src='https://www.bestpersonnel.ie/wp-content/uploads/2017/11/Liliana-Costa.png' width="35" height="35">
      <span style="margin-left: 5px"><a>Saudi Arabia Detains Activists Who Pushed to End Ban on Women Driving</a></span>
      <span class="mdl-list__item-text-body" style="margin-left: 45px" style="margin-bottom: 5px">
        At least five people connected to the campaign to end the longtime ban have been detained.
        <p><a>International</a> - Rismanti Amalia</p>
      </span>
    </span>
  </li>
</ul>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet"></div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>
</div>
{% endblock %}
