{% extends "base.html" %}

{% block real_content %}
<style>
		.demo-card-event.mdl-card {
		  width: 256px;
		  height: 256px;
		  background: #3E4EB8;
		}
		.demo-card-event > .mdl-card__actions {
		  border-color: rgba(255, 255, 255, 0.2);
		}
		.demo-card-event > .mdl-card__title {
		  align-items: flex-start;
		}
		.demo-card-event > .mdl-card__title > h4 {
		  margin-top: 0;
		}
		.demo-card-event > .mdl-card__actions {
		  display: flex;
		  box-sizing:border-box;
		  align-items: center;
		}
		.demo-card-event > .mdl-card__actions > .material-icons {
		  padding-right: 10px;
		}
		.demo-card-event > .mdl-card__title,
		.demo-card-event > .mdl-card__actions,
		.demo-card-event > .mdl-card__actions > .mdl-button {
		  color: #fff;
		}
</style>

<div class="mdl-grid">
 <div class="mdl-cell mdl-cell--4-col">
  	<h3 style="margin-left: 50px">Polling</h3></div>
  </div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-cell mdl-cell--2-col">
		<div class="demo-card-event mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
		    <h4>
		      Polling: Best Dress in Gala?<br><h6>
		      Until June 5, 2018<br>
		      3 pm</h6>
		    </h4>
		  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Go to Polling
	    </a>
	</div>
	  </div>
	</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-cell mdl-cell--2-col">
		<div class="demo-card-event mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
		    <h4>
		      Polling: Women is stronger than men?<br><h6>
		      Until June 1, 2018<br>
		      10 pm</h4>
		    </h5>
		  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Go to Polling
	    </a>
	</div>
	  </div>
	</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-cell mdl-cell--2-col">
		<div class="demo-card-event mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
		    <h4>
		      Polling: Surfing, biking, or running?<br><h6>
		      Until Sept 1, 2018<br>
		      8 pm</h6>
		    </h4>
		  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Go to Polling
	    </a>
	</div>
	  </div>
	</div>
  </div>

<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-cell mdl-cell--2-col">
		<div class="demo-card-event mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
		    <h4>
		      Polling: Who do you want to be?<br>
		      <h6>Until May 19, 2018<br>
		      9 am</h6>
		    </h4>
		  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Go to Polling
	    </a>
	</div>
	  </div>
	</div>
  </div>
  

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet"></div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>
</div>
{% endblock %}
