{% extends "base.html" %}

{% block real_content %}
<style>
span.tab{
    padding: 0 280px; /* Or desired space*/
}
</style>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
  	<h1 style="margin-left: 50px">Profile</h1></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
<div class="mdl-grid">
	<div class="mdl-card__title">
    
  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	<img class="img-circle" src='https://www.bestpersonnel.ie/wp-content/uploads/2017/11/Liliana-Costa.png' width="250" height="250" style="margin-left: 63px">
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card__supporting-text" style="margin-right: 300px">
      <h4>Nama                   : {{nama}}</h4>
      <h4>Role                   : {{role}}</h4>
      <h4>{{nama_nomor}}         : {{number}}</h4>
      <h4>Tanggal Lahir          : {{birthday}}</h4>
      <h4>Nomor HP               : {{nomorhp}}</h4>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	<a href="{% url 'basdatApp:articles_list_html' %}"><button class="mdl-button mdl-js-button mdl-button--raised" style="margin-left: 175px">Articles</button></a>
  </div>
</div>

<div class="mdl-grid">   		
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet"></div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>
</div>
{% endblock %}