{% extends "base.html" %}

{% block real_content %}
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
    <!-- Button to trigger Modal-->
    <button class="mdl-button mdl-button--raised mdl-button--accent" id="show-dialog" data-toggle="modal" data-target="#upload-pic"> Error Message </button>

    <!-- Modal -->
    <dialog id="upload-pic" class="mdl-dialog mdl-typography--text-center" style="background-color: #D7CCC8;">
      <span class="close">&times;</span>
      <h4 class="mdl-dialog__title">  Validasi Gagal </h4>
      <div class="mdl-dialog__content">
        <p> Username dan Password tidak ditemukan </p>
      </div>
    </dialog>
  <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}

{% block real_scripts %}
<script >
// Selecting all Buttons with data-toggle="modal", i.e. the modal triggers on the page
var modalTriggers = document.querySelectorAll('[data-toggle="modal"]');

// Getting the target modal of every button and applying listeners
for (var i = modalTriggers.length - 1; i >= 0; i--) {
  var t = modalTriggers[i].getAttribute('data-target');
  var id = '#' + modalTriggers[i].getAttribute('id');

  modalProcess(t, id);
}

function modalProcess(selector, button) {
  var dialog = document.querySelector(selector);
  var showDialogButton = document.querySelector(button);

  if (dialog) {
    if (!dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function() {
      dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });
  }
}
</script>
{% endblock %}