{% extends "base.html" %}

{% block real_content %}
<section class="bmnc">
  <div class="mdl-grid">
      <div class="mdl-card mdl-shadow--16dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
          <h2 class="mdl-card__title-text"> BMNC Corp. </h2>
        </div>
        <div class="mdl-card__supporting-text">
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="username" />
              <label class="mdl-textfield__label" for="username"> Username </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" pattern="^.{8,}$" id="userpass" />
              <label class="mdl-textfield__label" for="userpass"> Password </label>
              <span class="mdl-textfield__error"> Input must be 8 character </span>
            </div>
          </form>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"> Login </button>
        </div>
      </div>
  </div>
</section>
{% endblock %}

{% block styles %}
<style>
  .bmnc{
    position: relative;
    background: url('https://cdn.shopify.com/s/files/1/0378/7109/products/FD42264_1024x1024.jpg?v=1524490485') center top no-repeat;
    background-size: cover;
    height: 1000px;
  }

  .mdl-grid{
    justify-content: center;
  }
</style>
{% endblock %}
