{% extends "base.html" %}

{% block real_content %}
<section class="bmnc">
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--16dp util-center util-spacing-h--100px">
            <div class="mdl-card__title mdl-color--teal-500">
                <h2 class="mdl-card__title-text mdl-color-text--white"> Create a New Account </h2>
            </div>
            <div class="mdl-card__supporting-text mdl-grid">
                <!-- <b class="mdl-color-text--accent">Error message goes here</b> -->
                <form method="POST">
            <div>
            <div class="left-side">
                <div>
                    <label> Role: </label>
                    <select id="Role" name="Role" onchange="displayForm(this)" required>
                        <option value=""></option>
                        <option value="1"> Mahasiswa </option>
                        <option value="2"> Staf / Dosen </option>
                    </select>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                      Username: <input class="mdl-textfield__input" type="text" id="username" required />
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield">
                    Password: <input class="mdl-textfield__input" type="password" pattern="^[0-9]{8,}$" id="userpass" required />
                    <span class="mdl-textfield__error"> Input must be number </span>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    Nomor Identitas(NPM, NIK): <input class="mdl-textfield__input" type="text" pattern="^[0-9]{8,}$" name="identitas" required />
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    Nama: <input class="mdl-textfield__input" type="text" name="nama" required />
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    Tempat Lahir: <input class="mdl-textfield__input" type="text" name="tempat" required />
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    Tanggal Lahir: <input class="mdl-textfield__input" type="text" name="tanggal" required />
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    Email: <input class="mdl-textfield__input" type="text" name="email" required />
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    Nomor HP: <input class="mdl-textfield__input" type="text" name="nomor" />
                </div>
                <div id="mahasiswa" style="display:none;"><br/>
                  <label> Status Kemahasiswaan: </label>
                  <input type="text" name="status" required />
                </div>
                <div id="nonmahasiswa" style="display:none;"><br/>
                  <label> ID Universitas: </label>
                  <input type="text" name="id" required />
                </div>
            </div> 
            </div>
            </form>
            </div>
            <div class="toolbar-section">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="submit" style="margin: auto; display: block;"> SUBMIT </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block styles %}
<style>
  .bmnc{
    position: relative;
    background: url('https://cdn.shopify.com/s/files/1/0378/7109/products/FD42264_1024x1024.jpg?v=1524490485') center top repeat;
    background-size: cover;
    height: 1000px;
  }

  .mdl-grid{
    justify-content: center;
  }
</style>
{% endblock %}

{% block real_scripts %}
<script>
function displayForm(Role) {

  var textSelected = Role.value;

  if ( textSelected == 1 ) { // hide the div that is not selected
    document.getElementById('mahasiswa').style.display = "block";
    document.getElementById('nonmahasiswa').style.display = "none";

  } else if (textSelected == 2) {

    document.getElementById('nonmahasiswa').style.display = "block";
    document.getElementById('mahasiswa').style.display = "none";
  }
}
</script>
{% endblock %}