{% extends "base.html" %}

{% block navbar_links %}
<a class="mdl-navigation__link" href="{% url 'basdatApp:index' %}"> Logout </a>
{% endblock %}

{% block real_content %}
<section class="bmnc">
  <div class="mdl-grid">
      <div class="mdl-card mdl-shadow--16dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
          <h2 class="mdl-card__title-text"> BMNC Corp. </h2>
        </div>
        <div class="mdl-card__supporting-text">
          <form id="login-form" method="post" action="{% url 'basdatApp:login-data' %}">
                {% csrf_token %}
                  <div class="mdl-textfield mdl-js-textfield">
                    <small>Username: <span style="color:red">*</span></small> 
                    <label class="mdl-textfield__label" for="username"> </label>
                    {{ login_form.username }}
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <small>Password: <span style="color:red">*</span></small> 
                    <label class="mdl-textfield__label" for="password"> </label>
                    {{ login_form.password }}
                  </div>
                {% if form.errors %}
                  <p class=" label label-danger">Your username and password didn't match. Please try again.</p>
                {% endif %}
                  <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"> Login </button>
                  </div>
            </form>
        </div>
      </div>
  </div>
</section>
{% endblock %}

{% block styles %}
<style>
  .bmnc{
    position: relative;
    background: url('https://cdn.shopify.com/s/files/1/0378/7109/products/FD42264_1024x1024.jpg?v=1524490485') center top no-repeat;
    background-size: cover;
    height: 1000px;
  }

  .mdl-grid{
    justify-content: center;
  }
</style>
{% endblock %}
