{% extends "base.html" %}

{% block real_content %}
<section class="bmnc">
 <div class="all-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" style="background: #f7d8a5; padding-top: 5px; padding-bottom: 10px;">
        <div class="title-div">
          <h3>Create a New Account</h3>
        </div>
        <div class="reg-form">
          <div class="form-content" >
            <div class="custom">
              <form id="regis-form" method="post" action="{% url 'basdatApp:register_narasumber' %}" >
                {% csrf_token %}
                {% if reg_form.errors %}
                  <div class="alert alert-error">
                      <ul>
                          {% for error in reg_form.non_field_errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %}
                <div class="row">
                  <div class="col-sm-6" >
                    <div class="form-group">
                      <label for="{{ reg_form.username.id_for_label }}">{{reg_form.username.label}}<span style="color:red">*</span></label>
                      {{reg_form.username}}
                      <div class="notif">
                        <small>Username yang anda masukkan tidak tersedia. Coba yang lain.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.password.id_for_label }}">{{reg_form.password.label}}<span style="color:red">*</span></label>
                      {{reg_form.password}}
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="table14">
                <div class="form-group">
                  <label for="{{ reg_form.nama.id_for_label }}">{{reg_form.nama.label}}<span style="color:red">*</span></label>
                  {{reg_form.nama}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.email.id_for_label }}">{{reg_form.email.label}}<span style="color:red">*</span></label>
                      {{reg_form.email}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.no_hp.id_for_label }}">{{reg_form.no_hp.label}}</label>
                      {{reg_form.no_hp}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.tempat.id_for_label }}">{{reg_form.tempat.label}}<span style="color:red">*</span></label>
                      {{reg_form.tempat}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.tanggal.id_for_label }}">{{reg_form.tanggal.label}}<span style="color:red">*</span></label>
                      {{reg_form.tanggal}}
                    </div>
                  </div>
                </div>

                <hr class="table14">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.role.id_for_label }}">{{reg_form.role.label}}<span style="color:red">*</span></label>
                      {{reg_form.role}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.nomor_identitas.id_for_label }}">{{reg_form.nomor_identitas.label}}<span style="color:red">*</span></label>
                      {{reg_form.nomor_identitas}}
                      <div class="notif-npm">
                        <small>Nomor identitas yang anda masukkan tidak tersedia. Coba yang lain.</small>
                      </div>
                      <div class="notif-role">
                        <small>Harap isi <i>field</i> Role terlebih dahulu sebelum mengisi nomor identitas</small>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="table14">
                <!--Kalo dosen or staf-->
                <div class="form-group" id="univ">
                  <label for="id_universitas"> ID Universitas <span style="color:red">*</span></label>
                  <input type="text" name="nama" class="mdl-textfield__input" placeholder="Enter your university id" maxlength="50" required="" id="id_universitas">
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>
                <!--Kalo mahasiswa-->
                <div class="form-group" id="status">
                  <label for="{{ reg_form.status.id_for_label }}">{{reg_form.status.label}}<small id="hrsstatus" style="color:red">*</small></label>
                  {{reg_form.status}}
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>
                <div class="form-group" id="jurusan">
                  <label for="{{ reg_form.jurusan.id_for_label }}">{{reg_form.jurusan.label}}<small id="hrsjurusan" style="color:red">*</small></label>
                  {{reg_form.jurusan}}
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>
                <div class="form-group" id="posisi">
                  <label for="{{ reg_form.posisi.id_for_label }}">{{reg_form.posisi.label}}<small id="hrsposisi" style="color:red">*</small></label>
                  {{reg_form.posisi}}
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>

                  <div class="toolbar-section">
                      <input type="submit" value=" REGISTER" class="btn btn-block btn-lg btn-default">
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}

{% block styles %}
<style>
  .bmnc{
    position: relative;
    background: url('https://cdn.shopify.com/s/files/1/0378/7109/products/FD42264_1024x1024.jpg?v=1524490485') center top repeat;
    background-size: cover;
    height: 1000hv;
  }
  .container{
   position: center;
   padding-top: 30px;
  }
  .table14{
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
    opacity: 0.5;
  }
  #jurusan {
  display: none;
  }
  #posisi {
    display: none;
  }
  #status {
    display: none;
  }
  .notif {
    display: none;
    color: red;
  }
  .notif-npm {
    display: none;
    color: red;
  }
  .notif-role {
    display: block;
    color: #777;
  }
  .notif-pwd {
    color: #777;
  }
</style>
{% endblock %}

{% block real_scripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('#id_role').change(function() {
    $("#id_nomor_identitas").attr('disabled',false)
    $('.notif-role').css('display','none');
    $('.notif-status').css('display','none');
    $("#id_id_universitas").attr('disabled',false);
    $("#id_posisi").attr({disabled: true, required: false});
    $("#id_jurusan").attr({disabled: true, required: false});
    $("#id_status").attr({disabled: true, required: false});
    $('#hrsstatus').css('display','inline-block');
    $('#hrsposisi').css('display','inline-block');
    $('#hrsjurusan').css('display','inline-block');
    $('#jurusan').css('display','none');
    $('#status').css('display','none');
    $('#posisi').css('display','none');
    console.log(this.value);
    if (this.value == 'dosen') {
      $("#id_jurusan").attr({disabled: false, required: true});
      $('#hrsstatus').css('display','none');
      $('#hrsposisi').css('display','none');
      $('#jurusan').css('display','block');
    }
    else if(this.value == 'staf') {
      $("#id_posisi").attr({disabled: false, required: true});
      $('#hrsstatus').css('display','none');
      $('#hrsjurusan').css('display','none');
      $('#posisi').css('display','block');
    }
    else if (this.value == 'mahasiswa') {
      $("#id_status").attr({disabled: false, required: true});
      $('#hrsjurusan').css('display','none');
      $('#hrsposisi').css('display','none');
      $('#status').css('display','block');
    }
  })

  $('#id_username').change(function() {
    $('.notif').css('display','none');
    username = $(this).val();
    $.ajax({
      method: "POST",
      url: '{% url "basdatApp:validate-username" %}',
      data: {
        'username': username
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        if (data.uname_is_taken) {
          $('.notif').css('display','block');
        }
      },
      error: function (rs, e) {
                    alert(rs.responseText);
        }
    })
  })

  $('#id_nomor_identitas').change(function() {
    $('.notif-npm').css('display','none');
    $('.notif-role').css('display','none');
    npm = $(this).val();
    role = $('#id_role').val();
    url_validate = "/login/validate-npm/";
    console.log(url_validate)
    $.ajax({
      method: "POST",
      url: url_validate,
      data: {
        'npm': npm,
        'role': role
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        if (data.uname_is_taken) {
          $('.notif-npm').css('display','block');
        }
      },
      error: function (rs, e) {
                    alert(rs.responseText);
        }
    })
  })
  
  $('#id_password').change(function() {
    $('.notif-pwd').css('display','none');
    password = $(this).val();
    $.ajax({
      method: "POST",
      url: '{% url "basdatApp:validate-pwd" %}',
      data: {
        'password': password
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        if (data.list_of_notif.length>0) {
          console.log(data.list_of_notif)
          $('.notif-pwd').css('display','block');
          for (i = 0; i<data.list_of_notif.length; i++) {
            var txt = "<p><small>"+data.list_of_notif[i]+"</small></p>";
            console.log(txt);
            $('.notif-pwd').append(txt)
          }
        }
      },
      error: function (rs, e) {
                    alert(rs.responseText);
            }
    })
  })
})
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            method: "GET",
            url: 'getunivids',
            success: function (list) {
                console.log(list);
                for (var i = 0; i < list.length; i++) {
                    addID(list[i]);
                }
            },
            error: function (error) {
                console.log("Terjadi kesalahan");
            }
        });
    });

</script>
<script>
    function addID(id) {
        var option = document.createElement("option");
        option.text = id;
        option.value = id;
        var select = document.getElementById("idUniversitas");
        select.appendChild(option);
    }
</script>
{% endblock %}
