{% extends "bootstrap/base.html" %}
{% block title %}Base page for BASDAT-TK{% endblock %}

{% block navbar %}
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"> BMNC Corporation </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="{{ url_for('home_page') }}"> Home </a>
        {% block navbar_links %} {% endblock %}
        <a class="mdl-navigation__link" href="{{ url_for('home_page') }}"> Logout </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"> All Demos </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ url_for('login_page') }}"> Login </a>
      <a class="mdl-navigation__link" href="{{ url_for('regis_page') }}"> Register </a>
      <a class="mdl-navigation__link" href="{{ url_for('error_login') }}"> Error Login</a>
      <!-- Dihar -->
      <a class="mdl-navigation__link" href="{{ url_for('berita_create') }}"> Create Berita </a>
      <a class="mdl-navigation__link" href="{{ url_for('polling_berita_create') }}"> Create News Polling </a>
      <a class="mdl-navigation__link" href="{{ url_for('polling_create') }}"> Create Regular Polling </a>
      <!-- END Dihar -->
      <a class="mdl-navigation__link" href="{{ url_for('profile_page') }}"> Profil Pribadi </a>
      <a class="mdl-navigation__link" href="{{ url_for('polling_list') }}"> Polling List </a>
      <a class="mdl-navigation__link" href="{{ url_for('articles_list') }}"> Articles List </a>
    </nav>
  </div>
{% endblock %}

{% block content %}
<main class="mdl-layout__content">
  {% block real_content %}{% endblock %}
</main>
</div> <!--this is the div for the header. A little bit of hack to do this thing properly.-->
{% block other_body %}{% endblock %}
{% endblock %}

{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='mdl/material.min.css') }}">
  <script src="{{ url_for('static', filename = 'mdl/material.min.js') }}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  {% block real_scripts %}{% endblock %}
{% endblock %}