{% extends "base.html" %}

{% block real_content %}
        <div class="bmnc-section">
          <div class="bmnc-band">
            <div class="bmnc-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin"> Welcome To BMNC Corporation</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                Let's Explore Our Website
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase bmnc-alt-link" href="{{ url_for('login_page') }}">
                  Login Here&nbsp;<i class="material-icons">chevron_right</i>
                </a>
              </p>
              </div>
           <h6> --- Kelompok 20 Basis Data-C --- </h6>
          </div>
        </div>
{% endblock %}

{% block styles %}
<style>
	.bmnc-section {
	  position: relative;
	  background: url('http://1.bp.blogspot.com/-hkziW0QD2x8/VUEk0NRTz4I/AAAAAAAARt8/CIfLjz3HNDc/s1600/SplitShire-0419.jpg') center top no-repeat;
	  background-size: cover;
	  height: 1000px;
	}

	.bmnc-band {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
	  background-color: #00796B;
	}

	.bmnc-band-text {
	  max-width: 800px;
	  margin-left: 25%;
	  padding: 24px;
	  text-align: left;
	  color: white;
	}

	.bmnc-alt-link {
	  text-decoration: none;
	  color: #18FFFF !important;
	  font-size: 16px;
	}

	.bmnc-alt-link:hover {
    	color: #B71C1C !important;
  	}

	.bmnc-alt-link .material-icons {
	   position: relative;
	   top: 6px;
	}
</style>
{% endblock %}