{% extends 'base.html' %}

{% block navbar_links %}
<a class="mdl-navigation__link"> Create Berita</a>
{% endblock %}

{% block real_content %}
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--6dp" id="secondary-background">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="create-berita-card mdl-card mdl-shadow--16dp mdl-cell--middle" id="main-card">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Membuat Berita</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <!-- Form starts here, Im not going to add form until TK5 -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text" id="dihar">
                        <label class="mdl-textfield__label">Judul</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text" id="dihar">
                        <label class="mdl-textfield__label">URL</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text" id="dihar">
                        <label class="mdl-textfield__label">Topik</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text" id="dihar">
                        <label class="mdl-textfield__label">Jumlah Kata</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                        <input class="mdl-textfield__input" type="text" id="dihar">
                        <label class="mdl-textfield__label">Tag</label>
                    </div>
                    <!-- Form ends here -->
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Publish
                    </a>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="demo-show-toast">
                        Demo URL Error
                    </a>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}

{% block other_body %}
<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endblock %}    

{% block styles %}
<style>
.create-berita-card > .mdl-card__title {
  color: #fff;
  height: 150px;
  background: url("{{ url_for('static', filename = 'images/pjk9gxle.jpg')}} ") center / cover;
}
.create-berita-card.mdl-card {
  width: 512px;
}
#secondary-background {
    background-color: #bbdefb;
    height: 100vh;
}
#secondary-top {
    background-color: #bbdefb;
}
#main-card {
    top: 10vh;
}
</style>
{% endblock %}

{% block real_scripts %}
<script>
    (function () {
            'use strict';
            var snackbarContainer = document.querySelector('#demo-toast-example');
            var showToastButton = document.querySelector('#demo-show-toast');
            showToastButton.addEventListener('click', function () {
                'use strict';
                var data = { message: 'URL Is already used!' };
                snackbarContainer.MaterialSnackbar.showSnackbar(data);
            });
        }());
</script>
{% endblock %}