{% extends 'base.html' %}
{% load static %}
{% block navbar_links %}
<a class="mdl-navigation__link"> Create Berita</a>
{% endblock %}

{% block real_content %}
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--6dp" id="secondary-background">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="create-berita-card mdl-card mdl-shadow--16dp mdl-cell--middle" id="main-card">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Membuat Berita</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <form id="main-form" action="{% url 'basdatApp:berita_create_func' %}" method="POST">
                        {% csrf_token %}
                        <div id="field-form">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input class="mdl-textfield__input" type="text" id="judul" name="judul">
                                <label class="mdl-textfield__label">Judul</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input name="url" id="url" class="mdl-textfield__input">
                                <label class="mdl-textfield__label">url</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input name="topik" id="topik" class="mdl-textfield__input">
                                <label class="mdl-textfield__label">Topik</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                <input class="mdl-textfield__input" type="text" id="jumlahKata" name="jumlahKata">
                                <label class="mdl-textfield__label">Jumlah Kata</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                    <input class="mdl-textfield__input" type="text" id="tag" name="tag">
                                    <label class="mdl-textfield__label">Tag</label>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="submit" value="Submit">
                        </div>
                    </form>
                </div>
                {% if warning %}
                <div class="mdl-card__menu">
                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ warning_message }}</span>
                    </span>
                </div>
                {% endif %}
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}

{% block other_body %}
<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endblock %}    

{% block styles %}
<style>
.create-berita-card > .mdl-card__title {
  color: #fff;
  height: 150px;
  background: url("{% static 'images/pjk9gxle.jpg' %} ") center / cover;
}
.create-berita-card.mdl-card {
  width: 512px;
}
#secondary-background {
    background-color: #bbdefb;
    height: 125vh;
}
#secondary-top {
    background-color: #bbdefb;
}
#main-card {
    top: 10vh;
}

.mdl-chip {
    background-color: #E30425;
    color: white;
}
</style>
{% endblock %}